* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.topTitle {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    margin-top: 3rem;
    color: #7A1F56;
}

.box {
    display: block;
    width: 70%;
    margin-left: 15%;
    margin-top: 2rem;
    height: 2rem;
    line-height: 2rem;
}

.loginBox > input {
    width: calc((80% - 50px) / 2);
    height: 100%;
    border: none;
    background-color: #404040;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

.urlInput {
    height: 100%;
    width: calc(80% - 20px);
    border: none;
    background-color: #404040;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

.urlInput::-webkit-input-placeholder,
.loginBox > input::-webkit-input-placeholder {
    color: silver;
}

.button {
    display: inline-block;
    width: 19%;
    float: right;
    height: 100%;
    line-height: 2rem;
    text-align: center;
    background-color: #7A1F56;
    color: white;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #A02973;
}

.button:active {
    background-color: #404040;
}

.resultBox {
    background-color: #404040;
    text-align: center;
    border-radius: 10px;
}

.resultBox > a {
    color: white;
}
